button{
    padding: 20px;
    border-radius: 20px;
}
.a{
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
    position: absolute;
    left: 35em;
    top:18em;
} 
